<div class="med-title h1" style="color: #ffaaff;">All Plants</div>

<div class="col-sm-3">
	<ul id="plants-index">
		<% @plants.each do |plant| %>

		<li><%= link_to plant.name, plant_path(plant) %> <%if current_user.admin %><%= link_to "Edit", edit_admin_plant_path(plant) %><%end%></li>
		<% end %>
		
	</ul>
</div>
<div class="col-sm-6">
	<div class="plant_show_partial">
	More details here
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</div>
	<br>
	<div class="row">
		<div id="plant_commentary" class="col-sm-6">
			<h5>Not Looking to Spend too Much Time or Energy?</h5>
			<h5><strong> -- Easiest Plant to Care For: <%= Plant.low_demand.name %> -- </strong></h5>
			<h5>Water Frequency: Every <%= Plant.low_demand.water_frequency%> Days</h5>
		</div>
	</div>
	<br>
	<%= link_to "View Gardens", gardens_path %>
</div>

<script>
  bindPlantsListeners();
</script>