<% if @garden_plant %> <h2>Garden: <%= link_to @garden_plant.garden.name, @garden_plant.garden %></h2><%end%>

<h2><strong>Common Name: </strong><%= @plant.name %></h2>

<p>Genus: <%= @plant.genus %></p>
<p>Watering Frequency: Every <%= @plant.water_frequency %> Days</p>

<% if @garden_plant %> <p> Planted On: <%= normalize_time(@garden_plant.created_at) %> </p>
<p>Last Watered: <%= normalize_time(@garden_plant.last_watered) %></p>

<%= overdue_notice(@garden_plant) %>

<p><%= link_to "Water Plant", water_plant_path(@garden_plant) %></p> <% end %>