<% if @plant.gardens %> <h2>Garden: <%= link_to @garden.name, @garden %></h2><%end%>

<h2><strong>Common Name: </strong><%= @plant.name %></h2>
<p>Genus: <%= @plant.genus %></p>
<p>Species: <%= @plant.species %></p>
<p>Watering Frequency: Every <%= @plant.water_frequency %> Days</p>
<% if @plant.garden_plants %> <p> Planted On: <%= @garden_plant.created_at %> </p>
<p>Last Watered: <%= @plant.garden_plants %></p>
<!-- add functionality for overdue watering here -->
<%= link_to "Water Plant", water_plant_path(@plant.garden_plants) %> <% end %>