<nav id="header">
	<div id="title">
		<h1> Succulence App </h1>
		<%= image_tag("background-succulents.jpg", id: 'title-image') %>
	</div>
		<div class="navbar">
			<%= display_sign_up %>
			<%= display_sign_in %>
			<%= plants_link %> - <%= gardens_link %>
		</div>
	</div>
</nav>