<div id="header">
<div class="col-sm-4">
<h3 id="title"> Succulence App </h3>
</div>
<div class="col-sm-4" style="margin-top: 25px;">
<%= display_sign_up %>
<%= display_sign_in %>
<%= gardens_link %> <br> 
<%= plants_link %> 
</div>

<br><br>

<%= content_tag(:div, flash[:error], :id => "flash_error", :class => "field_with_errors") if flash[:error] %>
<%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
<%= content_tag(:div, flash[:alert], :id => "flash_alert", :class => "field_with_errors") if flash[:alert] %>
<% if flash[:notice] %> <br><br> <% end %>
</div>