<nav id="header" style="border-bottom: 1px dashed #ffaaff;">
	<div style="overflow:auto;">
		<h3 id="title"> Succulence App </h3>
		<%= image_tag("background-succulents.jpg", id: 'title-image') %>
	</div>
		<div class="navbar">
			<%= display_sign_up %><br>
			<%= display_sign_in %><br>
			<%= plants_link %> - <%= gardens_link %>
		</div>
	</div>
</nav>